* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lilita One", sans-serif;
}
body {
  background-color: #6dd3e7;
}

h1 {
  font-size: 50px;
  font-weight: bolder;
  color: lightblue;
}
.start-info {
  font-size: 20px;
  margin: 2%;
}
.main-container {
  margin: 0 auto;
  max-width: 800px;
}

.screen {
  background-color: white;
  width: 100%;
  height: 100%;
  margin: 5% auto;
  padding: 10%;
  border-radius: 10px;
}

#main-screen {
  background-color: #6dd3e7;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 100vh;
  background-image: url("./Assets/clouds_pack_ask4asset/cloud2.PNG");
  background-position: center;
  animation: move-down 5s linear infinite;
  overflow: hidden;
}
@keyframes move-down {
  to {
    background-position: 0 100vh;
  }
}

#game-screen {
  background-color: #6dd3e7;
}

#game-over-screen {
  background-color: #6dd3e7;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border: solid 2px black;
}

:is(#game-screen, #game-over-screen, #main-screen).hidden {
  display: none;
}
button {
  float: left;
  position: relative;
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;

  /* Smoothing out hover using css3 transitions, if not, the pressed button effect looks a bit hard */
  transition: all 0.2s ease;

  /* Size */
  line-height: 45px;
  width: 50%;
  height: 45px;
  font-size: 120%;

  /* Colors */
  background: #f7f7f7;
  box-shadow: 0 6px rgba(0, 0, 0, 0.2);
  color: #888;
}

button:hover {
  background: #e6e6e6;
  box-shadow: 0 5px #aaa;
  color: #888;
}

/* Imitate a pressed effect for buttons */
button:active {
  top: 5px;
  box-shadow: none;
}
/* #btn-replay {
  background-color: dodgerblue;
}
#btn-play {
  background-color: aqua;
} */

#topBar {
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 100%;
}
.scoreWrap {
  display: flex;
  gap: 20px;
}
.lifeWrap {
  display: flex;
  gap: 20px;
}
.time {
  float: center;
}

.wordsWrap {
  position: absolute;
  height: 20%;
  width: 40%;
  border: none;
  bottom: 120px;
}
.nextWordsWrap {
  position: absolute;
  height: 20%;
  width: 50%;
  border: none;
  bottom: 50px;
}
.words {
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
  animation: fadeIn 2s;
}
.nextWords {
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
}

.words span {
  transition: all 200ms ease-in-out;
}

.bg {
  background-color: pink;
}

.error {
  background-color: red;
}

.angel-container {
  flex: display;
  justify-content: center;
}
.angelGameCharacter {
  background-image: url(./Assets/angel.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 30%;
  width: 30%;
  position: absolute;
  bottom: 120px;
}
.cloud-container {
}

#wordsWrapper {
  width: 100%;
}