@font-face {
  font-family: "lolita";
  src: url(./Assets/LilitaOne-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
}

body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
  height: 100vh;
  font-family: "lolita";
}

h1 {
  font-size: 5rem;
  font-weight: bolder;
  color: beige;
  font-family: "lolita";
  font-weight: 800;
}
.words-information {
  font-family: "lolita";
}
.start-info {
  font-size: 20px;
  margin: 2%;
  font-family: "lolita";
  font-weight: lighter;
}
.main-container {
  margin: 0 auto;
  max-width: 100%;
}

/* .screen {

  background-color: white;
  width: 0%;
  height: 0%;
  margin: 5% auto;
  padding: 10%;
  border-radius: 10px;
} */

#main-screen {
  translate: 0% -50%;
  text-align: center;

  /* background-image: url("./Assets/clouds_pack_ask4asset/cloud2.PNG"); */
  background-position: center;
  /* /animation: move-down 5s linear infinite; */
  /* overflow: hidden; */
  z-index: 999;
  position: relative;
}

@keyframes move-down {
  to {
    background-position: 0 100vh;
  }
}

/* #game-screen {
  background-color: #6dd3e7;
  height: 100%;~
  width: 100%;
} */

#game-over-screen {
  background-color: #6dd3e7;
}

.container {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

button {
  top: 0;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  margin: 0 7px 11px 0;
  padding: 0 20px;
  text-align: center;
  transition: all 0.3s ease;
  line-height: 45px;
  width: 50%;
  height: 45px;
  font-size: 120%;
  background: #f7f7f7;

  border: 0.75px solid grey;
  border-radius: 30px;
  padding: 0px 0px 0px 0px;
  width: 12rem;
  height: 3rem;
  font-family: "lolita";
}
button:hover {
  box-shadow: 0 16px rgba(0, 0, 0, 0.2);

  font-weight: 800;
}
button:hover a {
  color: #ffffff;
}

button:hover {
  background: #e6e6e6;
  box-shadow: 0 5px #aaa;
  color: #888;
}

button:active {
  top: 5px;
  box-shadow: none;
}

#topBar {
  display: flex;
  justify-content: space-around;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0;
  padding-top: 30px;
  font-size: 30px;
}

.scoreWrap {
  display: flex;
  gap: 20px;
}
p.lifeWrap {
  display: flex;
}
/* #heart1 {

}
#heart2 {

}
#heart3 {

} */
.time {
  float: center;
}

div.wordsWrap {
  display: flex;
  justify-content: center;
  border: none;
  bottom: 120px;
}
.nextWordsWrap {
  display: flex;
  justify-content: center;
  height: 20%;
  border: none;
  bottom: 50px;
  font-family: "lolita";
}
/* .words {
  font-size: 50px;
  letter-spacing: 1px;
  color: white;
  animation: fadeIn 2s;
} */
/* .nextWords {
  font-size: 40px;
  letter-spacing: 1px;
  color: white;
} */

.container p{
  padding: 20px;
  font-size: 30px;
}
.words span {
  transition: all 200ms ease-in-out;
  font-family: "lolita";
  font-size: 100px;
}
.bg {
  background-color: pink;
}

.error {
  background-color: black;
}

.angel-container {
  display: flex;
  justify-content: center;
}
.angelGameCharacter {
  background-image: url(./Assets/angel.gif);
  background-repeat: no-repeat;
  background-position: center;
  height: 3rem;
  width: 3rem;
  position: absolute;
  top: 50%;
}

@keyframes jumpAnimation {
  /* 40%,
  60% {
    top: 15%;
  } */
  50% {
    top: 10%;
  }
}

/* Add the jumpAnimation class when the jump needs to be triggered*/
.jumpAnimation {
  animation: jumpAnimation 2s cubic-bezier(0.56, 0.11, 0.33, 0.83) 1;
}

/* .cloud-container {
} */

.wordsWrapper {
  display: flex;
  justify-content: center;
}
.words {
  display: flex;
  justify-content: center;
  font-size: 80px;
  letter-spacing: 1px;
  color: #6dd3e7;
  animation: fadeIn 2s;
}
p.nextWords {
  display: flex;
  justify-content: center;
  font-size: 60px;
  letter-spacing: 1px;
  color: #6dd3e7;
}
.heart {
  width: 20px;
  height: auto;
  margin: 5px;
}
.lifeWrap {
  display: flex;
  justify-content: none;
}

.invisible {
  opacity: 0;
}

/*** CLOUD***/

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/
/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

#clouds {
  padding: 100px 0;
  background-color: #6dd3e7;
  background: -webkit-linear-gradient(top, #6dd3e7 0%, #fff 100%);
  background: -linear-gradient(top, #6dd3e7 0%, #fff 100%);
  background: -moz-linear-gradient(top, #6dd3e7 0%, #fff 100%);
  position: relative;
  z-index: 0;
}

/*Time to finalise the cloud shape*/
.cloud {
  width: 200px;
  height: 60px;
  background: #fff;

  border-radius: 200px;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  z-index: 0;
  position: relative;
}

.cloud:before,
.cloud:after {
  content: "";
  position: absolute;
  background: #fff;
  width: 200px;
  height: 80px;
  position: absolute;
  top: -15px;
  left: 10px;

  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;

  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  z-index: 10;
}

.cloud:after {
  width: 120px;
  height: 120px;
  top: -55px;
  left: auto;
  right: 15px;
}

/*Time to animate*/
.x1 {
  -webkit-animation: moveclouds 15s linear infinite;
  -moz-animation: moveclouds 15s linear infinite;
  -o-animation: moveclouds 15s linear infinite;
}

/*variable speed, opacity, and position of clouds for realistic effect*/
.x2 {
  left: 200px;

  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
  opacity: 0.6; /*opacity proportional to the size*/

  /*Speed will also be proportional to the size and opacity*/
  /*More the speed. Less the time in 's' = seconds*/
  -webkit-animation: moveclouds 25s linear infinite;
  -moz-animation: moveclouds 25s linear infinite;
  -o-animation: moveclouds 25s linear infinite;
}

.x3 {
  left: -250px;
  top: -200px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

.x4 {
  left: 470px;
  top: -250px;

  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  opacity: 0.75; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 18s linear infinite;
  -moz-animation: moveclouds 18s linear infinite;
  -o-animation: moveclouds 18s linear infinite;
}

.x5 {
  left: -150px;
  top: -150px;

  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0.8; /*opacity proportional to the size*/

  -webkit-animation: moveclouds 20s linear infinite;
  -moz-animation: moveclouds 20s linear infinite;
  -o-animation: moveclouds 20s linear infinite;
}

@-webkit-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-moz-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
@-o-keyframes moveclouds {
  0% {
    margin-left: 1000px;
  }
  100% {
    margin-left: -1000px;
  }
}
